h1 {
    color: black;
}

.portugues {
    color: blue;
}

#espanhol {
    color: red;
}

.display {
    background-color: pink;
    padding: 50px;
    width: 50%;
}

.display-blue {
    background-color: aqua;
    padding: 50px;
    width: 50%;
}

.flex {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.row {
    background-color: greenyellow;
    text-align: center;
}